<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<% @tweets.each_slice(3) do |three_tweet| %>
  <div class="card-deck">
    <% three_tweet.each do |tweet| %> 
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://static1.abc.es/media/ciencia/2017/07/19/perro-domesticacion-9349-k4YF--620x349@abc.jpg" class="card-img" alt="...">
            </div>
              <div class="col-md-8"> 
                <div class="card-body">
                  <h5 class="card-title"><%= tweet.title %></h5>
                  <p class='card-text'> Content: <%= tweet.content %></p>
                  <%= link_to 'Show', tweet, class: 'btn btn-primary' %>
                  <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-warning' %>
                  <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </div>
              </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= time_ago_in_words tweet.updated_at %></small>
          </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>

<%= link_to 'New Tweet', new_tweet_path %>